{% extends "base.html" %}

{% block title %}Home - My Inventory{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1 class="title">MBC Traders & Hardware</h1>
        <h4 class="welcome">Welcome to Inventory Management</h4>
        <p class="description">Manage your products efficiently with our simple inventory system.</p>
        
        <div class="buttons">
            <a href="{{ url_for('inventory') }}" class="btn btn-primary btn-lg">View Inventory</a>
            <a href="{{ url_for('add_product') }}" class="btn btn-success btn-lg">Add Product</a>
        </div>
    </div>
{% endblock %}
